// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  font-family: 'Cormorant Garamond', serif;
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}


$backgroundbrown: rgba(150, 122, 108, 0.2);
$brown: #977a6d;
$buttoncolor: #c9283e;

@mixin flex{
  display: flex;
  display: -webkit-flex;
}

@mixin button{
  background-color: $buttoncolor;
  color: white;
  width: auto;
  padding: 5px 10px;
  font-size: 16pt;
  border: none;
  cursor: pointer;
  margin: 10px;
}






// -----------------Mobil------------------------




// -----------------Header------------------------
.web{
  display: none;
}

#mobilheader{
  padding: 5% 10%;
  width: 100%;
}
.searchelement, .barelement{
  margin: 0 40% 5% 15%;

}
.elementer{
  @include flex;
  flex-direction: row;
}

#inputsted{
  display: none;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: 2px solid $backgroundbrown;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 12pt;
}


 // -----------------Header------------------------


//------------------Burgermenu for mobil--------------------------

.burgermenu{
  position: absolute;
  width: 100%;
}

ul{
  list-style-type: none;
  position: relative;

  a{
    display: block;
    background-color: $buttoncolor;
    color: #fff;
    height: 70px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
  }
  a:hover{
    color: $backgroundbrown;
  }
}
//------------------Burgermenu for mobil--------------------------



// -----------------Christinas css------------------------
.forsidesection{//hele sektionerne på forsiden, billede og tekstboks
  margin-bottom:50px;
}

.tekstboksforside {//tekstboksene på forsiden
  background-color: $backgroundbrown;
  padding: 30px;
  p{
    margin-bottom:10px;
  }
}

.flasketekstboks{//tekstboken på flasken (i web)
  background-color: $backgroundbrown;
  padding: 15px;
  p{
    margin-bottom:10px;
  }
}

.knapforside{//knapperne på forsiden
  @include button;
}

.webflaske{
  display: none;
}

// -----------------Christinas css------------------------




// -----------------Carolines css------------------------


// -----------------Carolines css------------------------




// -----------------Nairis css------------------------




// -----------------Nairis css------------------------




// -----------------Footer------------------------
  footer{
    background-color:$backgroundbrown;
    border-top: solid black 3px;
    h5{
      font-size: 20pt;
    }
    p{
      font-size: 16pt;
    }
  }

  .footercontent{
    text-align: center;
    margin: 8% 0;
    a{
      text-decoration: none;
      color: black;
    }
  }
#some{
  @include flex;
  flex-direction: row;
  justify-content: center;
}
.facebook, .instagram{
  margin: 2% 5%;
}

// -----------------Footer------------------------











// -----------------Mobil------------------------








// Variabler - med størrelser

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
  //----------------------------- Tablet
   //------------------------------ header til tablet  
  .web{
    display: block;
  }
  .mobil{
    display: none;
  }

  .burgermenu{//for at neutralisere egenskaberne fra burgermenuen i mobil
    position: static;
    width: auto;
    margin: auto;
  }
  ul{
    list-style-type: none;
    flex-direction: row;
    @include flex;
    justify-content: space-between;
    margin: 2% 5% 5% 5%;
    font-size: 12pt;
    position: static;
    a{
      text-decoration: none;
      color: black;
      background-color: #fff;
      height: auto;
      width: auto;
      text-align: initial;
      padding: 2px;
      border: solid 2px #fff;
    }
    a:hover{
      border: solid 2px $backgroundbrown;
      padding: 2px;
      color: #000;
    }
    .active{
      border: solid 2px black;
      padding: 2px;
    }
  }

 //------------------------------ header til tablet    





  //------------------------------ footer til tablet  
   footer{
     @include flex;
     justify-content: space-around;
     padding: 2%;
     p{
       width: 200px;
       font-size: 15pt;
     }
   }

  .footercontent {
    margin: 0;
    h5 {
      font-size: 20pt;
      color: white;
      background-color: $brown;
      padding: 10px 20px;
      width: 215px;
      margin: 5%;
      a{
        text-decoration: none;
        color: white;
      }
    }
  }

  #some{
    @include flex;
    flex-direction: column;
      a {                             
        text-decoration: none;        
        color: black;                 
        flex-direction: row;
        @include flex;                      
        justify-content: space-between;
      }
    
  }

  
  //------------------------------ footer til tablet





  
  
}





@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
  ul{
    font-size: 14pt;
  }

}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  ul{
   font-size: 18pt;
  }

  // -----------------Christinas css------------------------
  .flexforside{
    @include flex;
    flex-direction: row;
  }

  .relativboks{//for at flasken ligger ovenpå
    position: relative;
  }

  .absoluteboks{//for at flasken ligger ovenpå
    position: absolute;
    right: 0;
  }
  .forsideflaske{//flaskeillustration
    max-height: 1300px;
  }

  .flasketekstboks{//teksten på flasken
    margin: -700px 0 0 20px;
    max-width: 260px;
  }

  .gaardsection{//sektionen med gårdbillede og tekst
    margin-bottom: 190px;
  }

  .tekstboksforside{//tekstboksene på forsiden
    p{
      max-width: 500px;
    }
  }

  .pagewrap{//for at centrere alt indhold
    margin: auto;
    max-width: 1280px;
  }

  .webflaske{//den store flaske vises i pc
    display: block;
  }
  .mobilflaske{//for at det er den lille flaske der vises i tablet
    display: none;
  }

  //989px høj


  // -----------------Christinas css------------------------




  // -----------------Carolines css------------------------


  // -----------------Carolines css------------------------




  // -----------------Nairis css------------------------



  // -----------------Nairis css------------------------



}
@media print {
  // Alt der gælder for print specifikt
}