// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  font-family: 'Cormorant Garamond', serif;
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}


$backgroundbrown: rgba(150, 122, 108, 0.2);
$brown: #977a6d;
$buttoncolor: #c9283e;

@mixin flex{
  display: flex;
  display: -webkit-flex;
}

@mixin button{

}






// -----------------Mobil------------------------




// -----------------Header------------------------
.web{
  display: none;
}
#mobilheader{
  padding: 5% 10%;
  width: 100%;
}
#search, #bars{
  margin: 0 15% 5% 15%;
}
#bars{
  float: right;
}

 // -----------------Header------------------------



// -----------------Christinas css------------------------


// -----------------Christinas css------------------------




// -----------------Carolines css------------------------


// -----------------Carolines css------------------------




// -----------------Nairis css------------------------


// -----------------Nairis css------------------------








// -----------------Footer------------------------
  footer{
    background-color:$backgroundbrown;
    border-top: solid black 3px;
    h5{
      font-size: 20pt;
    }
    p{
      font-size: 16pt;
    }
  }

  .footercontent{
    text-align: center;
    margin: 8% 0;
    a{
      text-decoration: none;
      color: black;
    }
  }
#some{
  @include flex;
  flex-direction: row;
  justify-content: center;
}
.facebook, .instagram{
  margin: 2% 5%;
}

// -----------------Footer------------------------











// -----------------Mobil------------------------








// Variabler - med størrelser

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
  //----------------------------- Tablet
   //------------------------------ header til tablet  
  .web{
    display: block;
  }
  .mobil{
    display: none;
  }

  ul{
    list-style-type: none;
    flex-direction: row;
    @include flex;
    justify-content: space-between;
    margin: 2% 5% 5% 5%;
    font-size: 12pt;
    a{
      text-decoration: none;
      color: black;
    }
    a:hover{
      border: solid 2px $backgroundbrown;
      padding: 2px;
    }
    .active{
     border: solid 2px black;
    padding: 2px;
    }
  }
 //------------------------------ header til tablet    





  //------------------------------ footer til tablet  
   footer{
     @include flex;
     justify-content: space-around;
     padding: 2%;
     p{
       width: 200px;
       font-size: 15pt;
     }
   }

  .footercontent {
    margin: 0;
    h5 {
      font-size: 20pt;
      color: white;
      background-color: $brown;
      padding: 10px 20px;
      width: 215px;
      margin: 5%;
      a{
        text-decoration: none;
        color: white;
      }
    }
  }

  #some{
    @include flex;
    flex-direction: column;
      a {                             
        text-decoration: none;        
        color: black;                 
        flex-direction: row;
        @include flex;                      
        justify-content: space-between;
      }
    
  }

  
  //------------------------------ footer til tablet














  
}




 












@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
  ul{
    font-size: 14pt;
  }

}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  ul{
   font-size: 18pt;
  }

  // -----------------Christinas css------------------------


  // -----------------Christinas css------------------------




  // -----------------Carolines css------------------------


  // -----------------Carolines css------------------------




  // -----------------Nairis css------------------------


  // -----------------Nairis css------------------------



}
@media print {
  // Alt der gælder for print specifikt
}