* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.web, .KUNWEB {
  display: none; }

#mobilheader {
  padding: 5% 10%;
  width: 100%; }

#search, #bars {
  margin: 0 15% 5% 15%; }

#bars {
  float: right; }

h1 {
  font-size: 36pt; }

h2, h3 {
  font-size: 28pt; }

h4 {
  font-size: 20pt; }

p {
  font-size: 16pt; }

a {
  text-decoration: none;
  color: #c9283e; }
  a:hover {
    color: rgba(150, 122, 108, 0.2); }

.bodyMargin {
  padding: 20px; }

button {
  background-color: #c9283e;
  color: white;
  width: auto;
  padding: 5px 10px;
  font-size: 16pt;
  border: none;
  cursor: pointer;
  margin: 10px;
  margin: 0; }
  button:hover {
    background-color: rgba(150, 122, 108, 0.2); }

#heroPicProdukt {
  width: 100%;
  overflow: auto; }

#infoProdukter a {
  color: #c9283e; }
  #infoProdukter a:hover {
    color: rgba(150, 122, 108, 0.2); }

.spaceBelow {
  margin-bottom: 20px; }

.partsInfoProdukt {
  margin-bottom: 30px; }

.imgCenterProdukter {
  margin: auto; }

.centreret {
  text-align: center; }

.clickBottle {
  color: #c9283e;
  cursor: pointer; }

#bottleJquery {
  display: none;
  position: fixed;
  z-index: 5;
  background-color: rgba(150, 122, 108, 0.2);
  top: 0;
  bottom: 0;
  overflow: hidden;
  width: 350%; }
  #bottleJquery #closeBtnPro {
    margin-left: 26%;
    margin-top: 2%;
    margin-bottom: -2%; }
    #bottleJquery #closeBtnPro:hover {
      cursor: pointer; }

#bottleInfo {
  margin: 2.5% 0 0 -80%;
  width: 100%; }

footer {
  background-color: rgba(150, 122, 108, 0.2);
  border-top: solid black 3px; }
  footer h5 {
    font-size: 20pt; }
  footer p {
    font-size: 16pt; }

.footercontent {
  text-align: center;
  margin: 8% 0; }
  .footercontent a {
    text-decoration: none;
    color: black; }

#some {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center; }

.facebook, .instagram {
  margin: 2% 5%; }

@media screen and (min-width: 768px) {
  .web {
    display: block; }

  .mobil {
    display: none; }

  ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin: 2% 5% 5% 5%;
    font-size: 12pt; }
    ul a {
      text-decoration: none;
      color: black; }
    ul a:hover {
      border: solid 2px rgba(150, 122, 108, 0.2);
      padding: 2px; }
    ul .active {
      border: solid 2px black;
      padding: 2px; }

  .spaceBelow {
    margin-bottom: 3%; }

  .bodyMargin {
    width: 100%;
    padding: 0; }

  .topProdukter, #infoProdukter {
    background-color: rgba(150, 122, 108, 0.2);
    padding: 3%;
    margin: 5% 10%; }

  #heroPicProdukt {
    height: 500px;
    object-fit: cover; }

  .partsInfoProdukt {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    margin: 20px 0; }

  .secondPart {
    flex-direction: row-reverse;
    text-align: right; }
    .secondPart .hvidPro {
      text-align: right; }

  .imgCenterProdukter, .textCenterProdukter {
    width: 50%;
    height: 20%;
    margin: 0 auto; }

  .textCenterProdukter h2 {
    text-align: left; }

  .tabletTekstPro {
    margin: 0 10%; }

  .klikPro {
    margin: 5% auto; }

  #bottleInfo {
    margin: 4% 0 0 -52.5%;
    width: 70%; }

  footer {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    padding: 2%; }
    footer p {
      width: 200px;
      font-size: 15pt; }

  .footercontent {
    margin: 0; }
    .footercontent h5 {
      font-size: 20pt;
      color: white;
      background-color: #977a6d;
      padding: 10px 20px;
      width: 215px;
      margin: 5%; }
      .footercontent h5 a {
        text-decoration: none;
        color: white; }

  #some {
    display: flex;
    display: -webkit-flex;
    flex-direction: column; }
    #some a {
      text-decoration: none;
      color: black;
      flex-direction: row;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between; } }
@media screen and (min-width: 992px) {
  ul {
    font-size: 14pt; }

  h1 {
    font-size: 40pt; }

  h2 {
    font-size: 25pt; }

  h3 {
    font-size: 25pt; }

  p {
    font-size: 16pt; }

  .TABLET {
    display: none; }

  .KUNWEB {
    display: block; }

  .partsInfoProdukt {
    margin: 40px 0; }

  #voresRaavarer {
    margin-bottom: 13%; }

  #druProGaa {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    z-index: 1;
    position: absolute;
    margin: -12% 6% 0 6%; }
    #druProGaa .produkt {
      text-align: center;
      width: 175px; }
      #druProGaa .produkt p {
        font-size: 14pt; }
      #druProGaa .produkt h3 {
        font-size: 25pt;
        margin-bottom: 5%; }
    #druProGaa .bottlesProdukt {
      grid-column: 1/span 6; }

  #produktEt {
    grid-column: 2/span 1; }

  #produktTo {
    grid-column: 4/span 1; }

  #produktTre {
    grid-column: 6/span 1; }
    #produktTre button {
      margin: auto; }

  .tabletTekstPro {
    margin: 0; }

  .bottlesProdukt {
    position: relative;
    width: 1250px;
    margin: auto; }

  #bottleInfo {
    margin: 4% 0 0 -52%;
    width: 70%; } }
@media screen and (min-width: 1050px) {
  #voresRaavarer {
    margin-bottom: 7%; }

  #druProGaa {
    margin-top: -6%; } }
@media screen and (min-width: 1200px) {
  ul {
    font-size: 18pt; }

  h1 {
    font-size: 50pt; }

  h2 {
    font-size: 36pt; }

  h3 {
    font-size: 30pt; }

  p {
    font-size: 20pt; }

  .textCenterProdukter, .imgCenterProdukter {
    float: bottom; }

  .partsInfoProdukt {
    margin: 60px; }

  #voresRaavarer {
    margin-bottom: 5%; }

  #druProGaa {
    margin: -3.5% 7% 0 7%; }

  #bottleInfo {
    margin: 2.5% 0 0 -33.5%;
    width: 50%; } }
@media screen and (min-width: 1450px) {
  #druProGaa {
    margin: -3.5% 12% 0 12%; }

  #bottleInfo {
    margin: -6% 0 0 -33.5%;
    width: 50%; } }

/*# sourceMappingURL=dominiodepontas.css.map */
