* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.web {
  display: none; }

#mobilheader {
  padding: 5% 10%;
  width: 100%; }

#search, #bars {
  margin: 0 55% 5% 15%; }

.elementer {
  display: flex;
  display: -webkit-flex;
  flex-direction: row; }

#bars {
  right: 0; }

.burgermenu {
  position: absolute;
  width: 100%; }

ul {
  list-style-type: none;
  position: relative; }
  ul a {
    display: block;
    background-color: #c9283e;
    color: #fff;
    height: 70px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding-top: 20px; }
  ul a:hover {
    color: rgba(150, 122, 108, 0.2); }

.forsidesection {
  margin-bottom: 50px; }

.tekstboksforside {
  background-color: rgba(150, 122, 108, 0.2);
  padding: 30px; }
  .tekstboksforside p {
    margin-bottom: 10px; }

.flasketekstboks {
  background-color: rgba(150, 122, 108, 0.2);
  padding: 15px; }
  .flasketekstboks p {
    margin-bottom: 10px; }

.knapforside {
  background-color: #c9283e;
  color: white;
  width: auto;
  padding: 5px 10px;
  font-size: 16pt;
  border: none;
  cursor: pointer;
  margin: 10px; }

.webflaske {
  display: none; }

footer {
  background-color: rgba(150, 122, 108, 0.2);
  border-top: solid black 3px; }
  footer h5 {
    font-size: 20pt; }
  footer p {
    font-size: 16pt; }

.footercontent {
  text-align: center;
  margin: 8% 0; }
  .footercontent a {
    text-decoration: none;
    color: black; }

#some {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center; }

.facebook, .instagram {
  margin: 2% 5%; }

@media screen and (min-width: 768px) {
  .web {
    display: block; }

  .mobil {
    display: none; }

  .burgermenu {
    position: static;
    width: auto;
    margin: auto; }

  ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin: 2% 5% 5% 5%;
    font-size: 12pt;
    position: static; }
    ul a {
      text-decoration: none;
      color: black;
      background-color: #fff;
      height: auto;
      width: auto;
      text-align: initial;
      padding: 2px;
      border: solid 2px #fff; }
    ul a:hover {
      border: solid 2px rgba(150, 122, 108, 0.2);
      padding: 2px;
      color: #000; }
    ul .active {
      border: solid 2px black;
      padding: 2px; }

  footer {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    padding: 2%; }
    footer p {
      width: 200px;
      font-size: 15pt; }

  .footercontent {
    margin: 0; }
    .footercontent h5 {
      font-size: 20pt;
      color: white;
      background-color: #977a6d;
      padding: 10px 20px;
      width: 215px;
      margin: 5%; }
      .footercontent h5 a {
        text-decoration: none;
        color: white; }

  #some {
    display: flex;
    display: -webkit-flex;
    flex-direction: column; }
    #some a {
      text-decoration: none;
      color: black;
      flex-direction: row;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between; } }
@media screen and (min-width: 992px) {
  ul {
    font-size: 14pt; } }
@media screen and (min-width: 1200px) {
  ul {
    font-size: 18pt; }

  .flexforside {
    display: flex;
    display: -webkit-flex;
    flex-direction: row; }

  .relativboks {
    position: relative; }

  .absoluteboks {
    position: absolute;
    right: 0; }

  .forsideflaske {
    max-height: 1300px; }

  .flasketekstboks {
    margin: -700px 0 0 20px;
    max-width: 260px; }

  .gaardsection {
    margin-bottom: 190px; }

  .tekstboksforside p {
    max-width: 500px; }

  .pagewrap {
    margin: auto;
    max-width: 1280px; }

  .webflaske {
    display: block; }

  .mobilflaske {
    display: none; } }

/*# sourceMappingURL=dominiodepontas.css.map */
