// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  font-family: 'Cormorant Garamond', serif;
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}


$backgroundbrown: rgba(150, 122, 108, 0.2);
$brown: #977a6d;
$buttoncolor: #c9283e;
$buttonhovercolor: rgba(150, 122, 108, 0.2);

@mixin flex{
  display: flex;
  display: -webkit-flex;
}

@mixin button{
  background-color: $buttoncolor;
  color: white;
  width: auto;
  padding: 5px 10px;
  font-size: 16pt;
  border: none;
  cursor: pointer;
  margin: 10px;
  &:hover{
    background-color: $buttonhovercolor;
  }
}






// -----------------Mobil------------------------




// -----------------Header------------------------
.web{
  display: none;
}
#mobilheader{
  padding: 5% 10%;
  width: 100%;
}
#search, #bars{
  margin: 0 15% 5% 15%;
}
#bars{
  float: right;
}

 // -----------------Header------------------------

//------------------Fælles---------------------------

h1{
  font-size: 36pt;
}

h2, h3{
  font-size: 28pt;
}

h4{
  font-size: 20pt;
}

p{
  font-size: 16pt;
}

a{
  text-decoration: none;
}

//-----------------Fælles-------------------------------





// -----------------Christinas css------------------------


// -----------------Christinas css------------------------




// -----------------Carolines css------------------------
.bodyMargin{
  padding: 20px;
}

button{
  @include button;
  margin: 0;
}

#heroPicProdukt{
  width: 100%;
  overflow: auto;
}

#infoProdukter{
  a{
    color: $buttoncolor;
    &:hover{
      color: $buttonhovercolor;
    }
  }
}

.spaceBelow{
  margin-bottom: 20px;
}

.centreret{
  text-align: center;
}

.imgCenterProdukter{
  margin: 0 auto 20px auto;
}

// -----------------Carolines css------------------------




// -----------------Nairis css------------------------




// -----------------Nairis css------------------------




// -----------------Footer------------------------
  footer{
    background-color:$backgroundbrown;
    border-top: solid black 3px;
    h5{
      font-size: 20pt;
    }
    p{
      font-size: 16pt;
    }
  }

  .footercontent{
    text-align: center;
    margin: 8% 0;
    a{
      text-decoration: none;
      color: black;
    }
  }
#some{
  @include flex;
  flex-direction: row;
  justify-content: center;
}
.facebook, .instagram{
  margin: 2% 5%;
}

// -----------------Footer------------------------











// -----------------Mobil------------------------








// Variabler - med størrelser

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
  //----------------------------- Tablet
   //------------------------------ header til tablet  
  .web{
    display: block;
  }
  .mobil{
    display: none;
  }

  ul{
    list-style-type: none;
    flex-direction: row;
    @include flex;
    justify-content: space-between;
    margin: 2% 5% 5% 5%;
    font-size: 12pt;
    a{
      text-decoration: none;
      color: black;
    }
    a:hover{
      border: solid 2px $backgroundbrown;
      padding: 2px;
    }
    .active{
     border: solid 2px black;
    padding: 2px;
    }
  }
 //------------------------------ header til tablet    





  //------------------------------ footer til tablet  
   footer{
     @include flex;
     justify-content: space-around;
     padding: 2%;
     p{
       width: 200px;
       font-size: 15pt;
     }
   }

  .footercontent {
    margin: 0;
    h5 {
      font-size: 20pt;
      color: white;
      background-color: $brown;
      padding: 10px 20px;
      width: 215px;
      margin: 5%;
      a{
        text-decoration: none;
        color: white;
      }
    }
  }

  #some{
    @include flex;
    flex-direction: column;
      a {                             
        text-decoration: none;        
        color: black;                 
        flex-direction: row;
        @include flex;                      
        justify-content: space-between;
      }
    
  }

  
  //------------------------------ footer til tablet





  
  
}




 












@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
  ul{
    font-size: 14pt;
  }

}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  ul{
   font-size: 18pt;
  }

  //------------------Fælles---------------------------

  h1{
    font-size: 70pt;
  }

  h2{
    font-size: 36pt;
  }

  h3{
    font-size: 30pt;
  }

  p{
    font-size: 20pt;
  }


  //-----------------Fælles-------------------------------


  // -----------------Christinas css------------------------


  // -----------------Christinas css------------------------




  
  // -----------------Carolines css------------------------

  .spaceBelow{
    margin-bottom: 3%;
  }

  .bodyMargin{
    margin: 5%;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .topProdukter, #infoProdukter{
    background-color: $backgroundbrown;
    padding: 3%;
  }

  #heroPicProdukt{
    height: 400px;
    object-fit: cover;
  }


  .partsInfoProdukt{
    @include flex;
    justify-content: space-around;
  }

  .secondPart{
    flex-direction: row-reverse;
    text-align: right;
  }

  .imgCenterProdukter, .textCenterProdukter{
    width: 50%;
    height: 20%;
  }

  .textCenterProdukter{
    margin-top: 100px;
    h2{
      text-align: left;
    }
  }

  #druProGaa{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: absolute;
    z-index: 1;
    width: 1100px;
    .produkt{
      width: 200px;
      text-align: center;
      p{
        font-size: 16pt;
      }
    }
  }

  #produktEt{
    grid-column: 1/span 2;
    margin-left: 42%;
  }

  #produktTo{
    grid-column: 3/span 2;
    margin-left: 21%;
  }

  #produktTre{
    grid-column: 5/span 2;
    float: left;
  }

  .bottlesProdukt{
    position: relative;
  }


  // -----------------Carolines css------------------------




  // -----------------Nairis css------------------------



  // -----------------Nairis css------------------------



}
@media print {
  // Alt der gælder for print specifikt
}